<p id="notice"><%= notice %></p>

<h1>Results</h1>

<table class="table">
  <thead>
    <tr>
      <th>Team a</th>
      <th>Team b</th>
      <th>Team a score</th>
      <th>Team b score</th>
      <th>Match date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.team_a %></td>
        <td><%= result.team_b %></td>
        <td><%= result.team_a_score %></td>
        <td><%= result.team_b_score %></td>
        <td><%= result.match_date %></td>
        <td><%= link_to 'Show', result %></td>
        <td><%= link_to 'Edit', edit_result_path(result) %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result', new_result_path %>
