<p id="notice"><%= notice %></p>

<p>
  <strong>Team a:</strong>
  <%= @result.team_a %>
</p>

<p>
  <strong>Team b:</strong>
  <%= @result.team_b %>
</p>

<p>
  <strong>Team a score:</strong>
  <%= @result.team_a_score %>
</p>

<p>
  <strong>Team b score:</strong>
  <%= @result.team_b_score %>
</p>

<p>
  <strong>Match date:</strong>
  <%= @result.match_date %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
